*{
  margin: 0;
  padding: 0;
}
/*corpo*/
body{
	background: url('../img/a.jpg') no-repeat;
	background-size: 100%;
	height: 700px auto;
}
/*primeiro quadrante*/
.quad1{
	width: 100%;
	height: 220px;
	margin-top: 1%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0.5%;
	text-align: center;
}
.bloc1, .bloc2, .bloc3, .bloc4, .bloc5, .bloc6{
	width: 15%;
	height: 200px;
	background-color: #ccc;
	float: left;
	margin-top: 0.7%;
	margin-left: 17px;
	margin-right: 1px;
	margin-bottom: 0;
	border-radius: 5px;
}
/*segundo quadrante*/
.quad2{
	width: 100%;
	height: 220px;
	margin: 0.5% 0;
	text-align: center;
}
.a, .b, .c, .d, .e, .f{
	width: 15%;
	height: 200px;
	background-color: #ccc;
	float: left;
	margin-top: 0.7%;
	margin-left: 17px;
	margin-right: 1px;
	margin-bottom: 0;
	border-radius: 5px;
}
/*ajuste da imagem*/
.quad1 img{
	margin-top: 10%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.quad2 img{
	margin-top: 10%;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
/*ajuste do paragrafo*/
.quad1 p{
	margin-top: 50%;
}
.quad2 p{
	margin-top: 50%;
}
/*efeito ao blocos*/
.bloc1:hover{
	background-color: #000;
	opacity: 0.5;
}
. {
  display: inline-flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
}