*{
  margin: 0;
  padding: 0;
}
/*corpo*/
/*primeiro background*/
body{
	margin: 0;
	padding: 0;
	background-color: #34302d;
}
/*estilização da pagina*/
.article-principal{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-secundario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-ternario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-quartenario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-quintenario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.footer{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}