*{
  margin: 0;
  padding: 0;
}
/*corpo*/
/*primeiro background*/
body{
	margin: 0;
	padding: 0;
	background-color: #34302d;
}/*menu*/
.menu{
	width: 100%;
	height: 5em;
	background-color: #6db33f;

}
.menu ul{
	background-color: #34302d;
	float: right;
	width: 100%;
	height: 4.75em;
	margin-top: 0.3em;
}
.menu ul li{
	width: 90px;
	height: 4.75em;
	float: right;
	list-style-type:none;
	margin-right: 20px;
}
.menu ul li a{
	text-decoration: none;
	color: #FFF;
}
.menu ul li a p{
	margin-top: 30px;
	text-align: center;
}
.menu img{
	margin-top: 25px;
	margin-left: 150px;
}
/*efeito menu*/
.menu ul li:hover{
	background-color: #6db33f;
	border-radius: 1px;
}

/*estilização da pagina*/
.article-principal{
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
	background: url('../img/back.jpg') no-repeat; 	
  	background-size: 100% 100%;
}
.article-principal img{
	width: 250px;
	height: 250px;
	margin-left: 40%;
	margin-top: 3%;
}
.article-principal .p{
	font-size: 30px;
	color: #FFF;
	text-align: center;
	font-family: sans-serif;
	margin: 40px;
}
.article-secundario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-ternario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-quartenario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.article-quintenario{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}
.footer{
	background-color: #34302d;
	width: 100%;
	height: 30em;
	border-top: solid 1px green;
}