*{
	margin: 0px;
	padding: 0px;
	color:#fff;
}
.header > p{

	float: right;
	margin-top: 40px;
	margin-right: 10px;
}
.header{
	float: right;
	width: 100%;
	height: 60px;
}
.header > img{
	width: 40px;
	height: 40px;
	margin: 10px 30px;
}
.nav {

	opacity:0.7;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}
.nav  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}
.nav li{
	float: left;	
}
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px ;
    text-decoration: none;
}
.nav li a:hover:not(.active) {
    background-color: #696969;
}
.active {
    background-color: steelblue;
}

.main{
	margin: 0px;
	padding: 0px;
	background: url('../img/a.jpg') no-repeat;
	background-position: 1% 1%;
	background-size: 100%;
	height: 1000px;
}
.social i{
	float: right;
	margin: 15px 20px 0 0;
	padding: 0;
	color: #000;
	-moz-transform: scale(5);
	-webkit-transform: scale(1);
	-webkit-transition: 0.5s all ease; /* É para pega no Chrome e Safira */

}
.social i:hover{
	color: #fff;
}
.section{
	width: 90%;
	height:500px;
	background-color: #ccc;
	opacity: .2;
	margin-left: 5%;
}

.sub{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.sub:hover ul li a:hover{
	display: block;
}

