body, 
.menu,
.sub-menu {
  margin: 0;
  padding: 0;
}
.clearfix:after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  overflow: hidden;
}
.menu,
.sub-menu {
  list-style: none;
  background: #000;
}
.sub-menu {
	text-decoration: none;
  	background: #000;
}
.menu a {
  list-style-type: none;
  display: block;
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.menu li {
  position: relative;
}
.menu > li {
  float: left;
}
.menu > li > a:hover {
	text-decoration: none;
  	background: #000;
}
.menu > li:hover a {
	text-decoration: none;
  	background: #000;
}
.menu li:hover > .sub-menu {
	list-style-type: none;
	text-decoration: none;
  	display: block;
}
.menu, .sub{
	opacity:0.8;
	-moz-opacity: 0.44;
}
.sub-menu {
  display: none;
  position: absolute;
  min-width: 150px;
}
/*retirando as linhas de baixo do texto*/
.sub-menu a:hover {
  background: #fff;
  text-decoration: none;
}
.menu a:hover {
  background: #fff;
  text-decoration: none;
}

.sub-menu .sub-menu {
  top: 0;
  left: 100%;
}
.social a{
	float: right;
	opacity: 0.7;
	color: #fff;
}
.menu li a:hover:not(.active) {
    background-color: #fff;
}
.active {
    background-color: steelblue;
}
