*{
	margin: 0px;
	padding: 0px;
	font-family: verdana;
}
header{
	margin: 100px auto;
	margin-top: 100px;
	width: 1200px;
	height: 230px;
	background-color: red;
}
div.nav{
	width: 200px;
	height: 230px;
	float: left;
}
div#um{
	background-color: rgb(208, 101, 3);: 
}
div#dois{
	background-color: rgb(233, 174, 26);: 
}
div#tres{
	background-color: rgb(22, 145, 190);: 
}
div#quatro{
	background-color: rgb(22, 170, 162);: 
}
div#cinco{
	background-color: rgb(27, 54, 71);: 
}
div#seis{
	background-color: rgb(21, 40, 54);: 
}

img{
	display: block;
	margin: 50px auto;
	background-color: rgba(255,255,255,.15);
	width: 40px;
	padding: 20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow:0px 0px 0px 30px rgba(255, 255, 255, 0);
	-webkit-transition: box-shadow .100s;

}
p.texto{
	font-size: 1.2em;
	color:white;
	text-align: center;
	padding-top: 10px;
	opacity: .6;
	-webkit-transition: padding-top: .4s;
}
.nav:hover{
	height: 250px;
}
.nav:hover .texto{
	padding-top: 30px;
	opacity: 1;
}
.nav:hover img{
	-webkit-box-shadow:0px 0px 0px 30px rgba(255, 255, 255,.6);
}