*{ margin:0; padding: 0;  }
* h1{
    text-align: center;
    color: black;
    margin: 2em;
}
/*formatação do menu superior*/
.menu{
    height: 4em;
    background: white;;
    width: 100%;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    border-bottom: 1px solid orangered;
}
.menu img{
    width: 200px;
    height: 40px;
    float:left;
    margin-left: 5%;
    margin-top: 1%;
}
.menu ul{float: right; }
.menu ul li{
    float: left;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
.menu li a {
    padding:9px 9px 9%;
    display:block;
    color:black;
    text-decoration:none;
    font:15px Steinerlight, Helvetica, sans-serif;
}
.menu li a:hover {color:orangered;}
/*formatação do header */
.header{
    margin-top: 4.0em;
    background-color: orangered;
    width: 100%;
    height: 37em;
    border-bottom: 1px solid orangered;
}
#itemum {
    background-color: white;
    width:49.5%;
    height: 36.3em;
    float: left;
    margin: 5px 1px 5px 8px;
    border-radius: 3px 3px 3px 3px;
}
input[type=text]{
    width: 20%;
    margin: 1% 1% 0 1%;
    display: inline-block;
    border: 1px solid orangered;
    border-radius: 9px;
    box-sizing: border-box;
    height: 30px;
}
input[type=submit] {
    position: relative;
    display: inline-block;
    width: 30%;
    margin: 3% 1% 1% 30%;
    padding: 0 20px;
    font-size: 15px;
    height: 40px;
    text-align: center;
    color: black;
    background-color: orangered;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 4px;
 }
/*formatação artigo */
#art{
    background-color: white;
    width:100%;
    height: 37.4em;
    border-bottom: 1px solid orangered;
}
.img{
    display: block;
    margin-top: -5%;
    margin-left: 40%;
    position: absolute;
    top: 50%;
}
#pcp p{
    margin-top: 1em;
    text-align: justify;
    color: black;
}
#sub p{
    margin-top: 1em;
    text-align: justify;
    color: black;
}

#sub{
    float: right;
    width:48%;
}

#pcp{
    float: left;
    width:48%;
    text-align: justify;
}
#art img{
    width: 400px;
    height: 20px;
    margin-top: -10px;
}
/*formataçao do meio-fim*/
#meio{
    background-color: white;
    width: 100%;
    height: 40em;
    border-bottom: 1px solid orangered;
}
#meio-fim{
    background-color: white;
    width: 100%;
    height: 40em;
    border-bottom: 1px solid orangered;
}
/*
texto dentro de imagens

#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px black;
}
*/
/*
linha que enche quando o mouse passa por cima.....

.mudacor {
background-color: #ff4b33; //cor de fundo da div
color: #fff; // cor do texto dentro da div
width:50%; //largura da div
height: 30px; //altura da div
-webkit-transition: 0.8s linear;
-moz-transition: 0.8s linear;
-o-transition: 0.8s linear
}
.mudacor:hover {
background-color: #fff;
color: #000;
width:70%; //largura da div
-webkit-transition: 0.3s linear;
-moz-transition: 0.3s linear;
-o-transition: 0.3s linear
}


*/