*{ margin:0; padding: 0;  }
* h1{
    text-align: center;
    color: white;
    margin: 2em;
}
/*formatação do menu superior*/
.menu{
    height: 4em;
    background:black;
    width: 100%;
    position: fixed;
    z-index: 110;
    top: 0;
    left: 0;
    border-bottom: 1px solid orangered;
}
.menu img{
    width: 200px;
    height: 40px;
    float:left;
    margin-left: 5%;
    margin-top: 1%;
}
.menu ul{float: right; }
.menu ul li{
    float: left;
    padding: 5px;
    margin: 5px;
    list-style-type: none;
}
.menu li a {
    padding:9px 9px 9%;
    display:block;
    color:orangered;
    text-decoration:none;
    font:15px Steinerlight, Helvetica, sans-serif;
}
.menu li a:hover {color:#fff;}
/*formatação do header */
.header{
    margin-top: 4.0em;
    background-color: black;
    width: 100%;
    height: 37em;
    border-bottom: 1px solid orangered;

}
.listaUM{
    background-color: orangered;
    width: 100%;
    height: 18.5em;
    color: white;

}
.listaDois{
    background-color: orangered;
    width: 100%;
    height: 18.5em;
    color: white;
}
#itemum {
    background-color: black;
    width:445px;
    height: 18.4em;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(black), to(orangered));


}
#itemdosi{
    background-color: black;
    width:445px;
    height: 18.4em;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}
#itemtres{
    background-color: black;
    width:445px;
    height: 18.4em;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}
#a{
    background-color: black;
    width:445px;
    height: 18.4em;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}
#b{
    background-color: black;
    width:445px;
    height: 18.4em;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}
#c{
    background-color: black;
    width:445px;
    height: 18.4em;
    float: left;
    margin: 1px 1px 1px 1px;
    border-radius: 5px 5px 5px 5px;
}
/*formatação artigo */
#art{
    background-color: black;
    width:100%;
    height: 37.4em;
    border-bottom: 1px solid orangered;
}
.img{
    display: block;
    margin-top: -5%;
    margin-left: 40%;
    position: absolute;
    top: 50%;
}
#pcp p{
    margin-top: 1em;
    text-align: justify;
    color: white;
}
#sub p{
    margin-top: 1em;
    text-align: justify;
    color: white;
}

#sub{
    float: right;
    width:48%;
}

#pcp{
    float: left;
    width:48%;
    text-align: justify;
}
#art img{
    width: 400px;
    height: 20px;
    margin-top: -10px;
}
/*formataçao do meio-fim*/
#meio{
    background-color: black;
    width: 100%;
    height: 37.8em;
    border-bottom: 1px solid orangered;
}
#meio-fim{
    background-color: black;
    width: 100%;
    height: 40em;
    border-bottom: 1px solid orangered;
}
/*
texto dentro de imagens

#container {
  display: inline-block;
  position: relative;
}

#container figcaption {
  position: absolute;
  top: 145px;
  right: 20px;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px black;
}
*/